.root {
    -fx-pref-height: 1000;
    -fx-pref-width: 1500;
    -fx-background-color: -bg-color;
    -fx-font-family: "Inter";
    -fx-font-size: 16px;
}

* {
    -secondary-color: #666666;
    -bg-color: #F9F5FF;
    -accent-color-orange: #f4a31f;
    -accent-color-blue: #408cc9;
    -accent-color-blue-overlay: rgba(64, 140, 201, 0.1);
    -text-color: black;
}

.header {

    -fx-min-width: 1024px;
    -fx-min-height: 70px;
    -fx-background-color: white;

}


.main-button{
    -fx-min-width: 300px;
    -fx-min-height: 60px;
    -fx-background-radius: 20px;
    -fx-background-color: #FFF;
    box-shadow: 2px 2px 2.6px 0px rgba(138, 10, 203, 0.50);
    -fx-font-size: 18px;
    -fx-effect: dropshadow(gaussian, rgba(138, 10, 203, 0.50), 2.6, 0.5, 2.0, 2.0);
}

.main-button:hover{
    -fx-background-color: #9406D2;
    -fx-text-fill: white;
}

.pink-button {
    -fx-background-color: #9406D2;
    -fx-text-fill: white;
}

.filter-button{
    -fx-min-width: 200px;
    -fx-min-height: 60px;
    -fx-background-radius: 20px;
    -fx-background-color: #FFF;
    box-shadow: 2px 2px 2.6px 0px rgba(138, 10, 203, 0.50);
    -fx-font-size: 18px;
    -fx-effect: dropshadow(gaussian, rgba(138, 10, 203, 0.50), 2.6, 0.5, 2.0, 2.0);
}

.toolbar-view {
    -fx-padding: 50px 0 0 20px;
}

.imageStyle{
    -fx-border-radius: 50px;
    -fx-max-height: 200px;
}

.h1-style{
    -fx-font-weight: 700;
    -fx-font-size: 24px;
    -fx-padding: 20px 0 0 20px;
}

.h2-style{
    -fx-padding: 0px 0 0 20px;
}